.features-section {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 50px;
}

.features-intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 30px 0;
}

.features-intro h2 {
    padding: 30px 0;
}

.features-intro p {
    padding: 30px 0;
}

.featureDetails {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.features-column {
    flex-direction: column;
    width: 30%;
}

.storyTimeIphone{
    width: 30%;
    height: 100%;
}

.features-column h3 {
    margin: 0 0 30px 0;
}

.features-column p {
    margin: 0 0 60px 0;
}
