.logo-nav-container{
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 20px 3%;
    border-bottom: 1px solid #EEEEEE;
    position: fixed;
}

.storyTimeLogo{
    width: 60%;
}

nav{
    display: flex;
    width: 43%;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
}